@{
    ViewData["Title"] = "Steven Covey's Time Management Matrix";
}

@*Group2-7 YunChen Lee, Euigun Jung, Donovan Chin, Jialing Lu
  This is the updated website*@

<div class="text-center">
    <h1 class="display-4">Welcome Time Management Website</h1>
    <a asp-controller="Home" asp-action="Summary">Go check Steven Covey's Time Management Matrix</a><br />
    <img src="~/img/time-management-7-habits-scaled.jpg" alt="A clock image" style="width:500px;height:400px;" />
    <br />

</div>

<div>
    <a asp-controller="Home" asp-action="">View </a>
</div>

<div>
    <a asp-controller="Home" asp-action="Task">Fill out your task</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Quadrant">View the task list</a>
</div>

